.filters{
	background-color: white;
	height: 70px;
	width: 100%;
	border: 1px solid #DDD;
	border-radius: 4px;
	position: relative;
}

.filters button{
	font-size: 18px;
	background-color: #FF5A5F;
	color: #FFF;
	height: 48px;
	width: 20%;
	border: none;
	border-radius: 4px;
  	position: absolute;
  	top: 50%;
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
  	right: 30px;
}

.filters button:hover{
	opacity: 0.9;
}

section .locations, section > .amenities{
	width: 25%;
	height: 100%;
	float: left;
	box-sizing: border-box;
}

.locations h3, section > .amenities h3{
	margin-bottom: 0px;
	padding-left: 50px;
}

.locations h4, section > .amenities h4{
	margin-top: 0px;
	padding-left: 50px;
}

.locations{
	border-right: 1px solid #DDDDDD;
}

.filters ul { 
	list-style: none;
	padding-left: 0px !important; 	
}

.popover {
	display: none;
	z-index: 1;
}

.popover li {
	margin: 20px;
}

.popover h2{
	margin: 0px;
}

.popover p{
	margin: 0px;
	text-align: left;
	padding-left: 20px;	
	line-height: 20px;
}

.locations:hover .popover, .amenities:hover .popover{
	background-color: #FAFAFA;
	display: block;
	border: 1px solid #DDD;
}